<mat-toolbar class="custom-toolbar">

  <!-- Botão do menu com referência ao menu -->
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>

  <span>My App</span>
  <span class="spacer"></span>
  <span> CRUD ANGULAR + SPRING </span>
  <span class="spacer"></span>

  <button mat-icon-button aria-label="Favorite">
    <mat-icon>favorite</mat-icon>
  </button>

  <button mat-icon-button aria-label="Share">
    <mat-icon>share</mat-icon>
  </button>

  <button mat-icon-button aria-label="Settings">
    <mat-icon>settings</mat-icon>
  </button>

</mat-toolbar>
<router-outlet></router-outlet>


<!-- Definição do menu -->
<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>home</mat-icon> Home
  </button>
  <button mat-menu-item>
    <mat-icon>person</mat-icon> Perfil
  </button>
  <button mat-menu-item>
    <mat-icon>logout</mat-icon> Sair
  </button>
</mat-menu>

<style>
  .spacer {
    flex: 1 1 auto;
  }
  .custom-toolbar{
    color: white;
    background-color: rgb(45, 20, 188);


  }
</style>
